
body {
    background-color: #eee;
    font-family: "Segoe UI";
}

* {
    margin: 0;
    box-sizing: border-box;
    z-index: 9999;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}

.header {
    background-color: #7738A5;
    height: 80px;
    display: flex;
    align-items: center;
}

.logo-h1 {
    font-size: 26px;
    color: #FFFFFF;
}

.menu {
    display: flex;
}

.list-menu {
    padding-inline-start: 0;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: auto;
}

.logo {
    margin-right: auto;
}

.menu-adapt-pic {
    filter:invert(100%) sepia(23%) saturate(0%) hue-rotate(142deg) brightness(102%) contrast(103%);
}


.adapt-menu {
    display: none;
}



.menu-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.sticky_menu a {
    margin-left: 23px;
    margin-right: 23px;
}

.sticky_menu a:focus {
    border-bottom: 2px solid black;
}

a {
    font-size: 20px;
    text-decoration: none;
}

.nav-arrow {
    display: none;
}

#user2 {
    margin-left: 15px;
    margin-right: 15px;
}

#user1 {
    margin-right: 15px;
}

#user3 {
    margin-left: 15px;
}

.nav-user {
   margin-left: auto;
}

.nav-block {

    height: 50px;
}


ul {
    list-style: none;
}


.logo, .nav-user {
    display: flex;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    color: white;
}


.sticky_menu a {
    text-decoration: none;
    color: black;
}


.sticky-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3CB371;
    width: 100%;
    height: 60px;
}

.sticky_menu {
    display: flex;
    padding-inline-start: 0;
}

.catalog-cell {
    display: flex;
    flex-direction: column;

}

.game-catalog, .game-consoles-catalog, .accsessories-catalog {
    margin-bottom: 100px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-auto-rows: 700px;
    grid-column-gap: 125px;
    justify-content: center;
}

.ps5 {
    margin-top: 47px !important;
}

.new h1, .game-consoles h1, .accsessories h1 {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}

.stars {
    text-align: left !important;
    margin-top: 10px;
    margin-bottom: 8px;
}

.menu-catalog button {
    background-color: #3CB371;
    width: 190px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #3CB371;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.menu-catalog {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 7px;
}

.add-cart {
    filter:invert(100%) sepia(23%) saturate(0%) hue-rotate(142deg) brightness(102%) contrast(103%);
}


.catalog-cell span {
    font-size: 30px;
}

.menu-catalog button span {
    color: white;
    margin-left: 10px;
}

.menu-catalog span {
    font-size: 24px !important;
}

#new-h1 {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
}


.nav-logo-icon {
    height: 50px;
    width: 50px;
    filter:invert(100%) sepia(23%) saturate(0%) hue-rotate(142deg) brightness(102%) contrast(103%);
}

.nav-icons {
    height: 20px;
    width: 20px;
    filter:invert(100%) sepia(23%) saturate(0%) hue-rotate(142deg) brightness(102%) contrast(103%);
    
}

.game-picture, .console-picture, .accs-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-picture {
    width: 350px;
    height: 500px;
}

.console-picture {
    width: 350px;
    height: 450px;
}


.accs-picture {
    width: 350px;
    height: 330px;
}

.footer {
    width: 100%;
    background-color:#7738A5;
}

.footer-menu {
    display: grid;
    /*justify-content: center;
    align-items: center;*/
}

.footer .col h1 {
    color: white;
    font-size: 21px;
}

.footer li {
    color: white;
    font-size: 18px;
}

.footer .social { 
    display: flex;
    flex-direction: column;
    align-items: center;

}


.start {
    margin-right: 15px;
}

.twitter {
    margin-left: 15px;
    margin-right: 15px;
}

.end {
    margin-left: 15px;
}

.footer ul {
    margin-top: 15px;
    padding-inline-start: 0;
}

.footer .col {
    text-align: left;
    height: auto;
}

.between {
    margin-left: auto;
}

.content {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
}

.footer .social ul {
    margin-top: 30px;
    display: flex;
    flex-direction: row !important;
}


@media only screen and (max-width: 1440px) {
    .container {
        max-width: 975px;
    }

    .list-menu {
        margin-left: 0;
    }

    .game-picture img {
        width: 275px !important;
        height: 400px !important;
    }
    
    .console-picture img {
        width: 275px !important; 
        height: 350px !important;
    }
    
    
    .accs-picture img {
        width: 275px !important;
        height: 250px !important;
    }

    .game-picture {
        width: 275px;
        height: 400px;
    }
    
    .console-picture {
        width: 275px;
        height: 350px;
    }
    
    
    .accs-picture {
        width: 275px;
        height: 250px;
    }

    #dual {
        height: 200px !important;
    }

    #xbox {
        height: 275px !important;
    }

    .game-catalog, .game-consoles-catalog, .accsessories-catalog {
        margin-bottom: 100px;
        margin-top: 40px;
        grid-template-columns: repeat(3, 275px);
        grid-auto-rows: 600px;
        grid-column-gap: 75px;
    }

    .ps5 {
        margin-top: 7px !important;
    }

    .menu-catalog button {
        width: 170px;
        height: 60px;
    }


}


@media only screen and (max-width: 1050px) {
    .container {
        max-width: 900px;
    }

    a {
        font-size: 18px;
    }

    .nav-icons {
        height: 18px;
        width: 18px;
    }

    #user2 {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #user1 {
        margin-right: 10px;
    }
    
    #user3 {
        margin-left: 10px;
    }

    .list-menu {
        margin-left: 0;
    }

    .nav-item {
        margin-left: 10px;
        margin-right: 10px;
    }

    .game-picture img {
        width: 250px !important;
        height: 375px !important;
    }
    
    .console-picture img {
        width: 250px !important; 
        height: 325px !important;
    }
    
    
    .accs-picture img {
        width: 250px !important;
        height: 225px !important;
    }

    .game-picture {
        width: 250px;
        height: 375px;
    }
    
    .console-picture {
        width: 250px;
        height: 325px;
    }
    
    
    .accs-picture {
        width: 250px;
        height: 225px;
    }

    #dual {
        height: 175px !important;
    }

    #xbox {
        height: 250px !important;
    }

    .game-catalog, .game-consoles-catalog, .accsessories-catalog {
        margin-bottom: 100px;
        margin-top: 40px;
        grid-template-columns: repeat(3, 250px);
        grid-auto-rows: 600px;
        grid-column-gap: 75px;
    }

    .ps5 {
        margin-top: 7px !important;
    }

    .menu-catalog button {
        width: 160px;
        height: 60px;
    }

    .catalog-cell span {
        font-size: 25px;
    }

    .menu-catalog span {
        font-size: 22px !important;
    }

    .add-cart {
        width: 22px;
        height: 22px;
    }








}

@media only screen and (max-width: 950px) {

    #new-h1 {
        margin-top: 40px;
        margin-bottom: 25px;
    }


    .header {
        height: 60px;
    }

    .sticky-nav {
        height: 40px;
    }

    .menu {
        align-items: center;
    }


    .container {
        max-width: 750px;
    }

    .logo {
        margin-left: 30%;
    }

    .nav-user {
        margin-left: 0;
    }
    
    .nav-icons {
        width: 30px;
        height: 30px;
    }

    .adapt-menu {
        display: block;
        height: 30px;
    }

    .list-menu {
        display: none;
    }

    .game-picture img {
        width: 200px !important;
        height: 325px !important;
    }
    
    .console-picture img {
        width: 200px !important; 
        height: 275px !important;
    }
    
    
    .accs-picture img {
        width: 200px !important;
        height: 175px !important;
    }

    .game-picture {
        width: 200px;
        height: 325px;
    }
    
    .console-picture {
        width: 200px;
        height: 275px;
    }
    
    
    .accs-picture {
        width: 200px;
        height: 175px;
    }

    #dual {
        height: 150px !important;
    }

    #xbox {
        height: 200px !important;
    }

    .game-catalog, .game-consoles-catalog, .accsessories-catalog {
        margin-bottom: 100px;
        margin-top: 40px;
        grid-template-columns: repeat(3, 200px);
        grid-auto-rows: 600px;
        grid-column-gap: 75px;
    }

    .menu-catalog {
        flex-direction: column;
    }

    .menu-catalog button {
        margin-left: 0;
        margin-top: 6px;
    }

    .menu-catalog button span {
        margin-left: 5px;
    }


    .footer .col h1 {
        font-size: 18px;
    }

    .footer li {
        font-size: 14px;
    }

    .start {
        margin-right: 10px;
    }

    .twitter {
        margin-right: 10px;
        margin-left: 10px;
    }

    .end {
        margin-left: 10px;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        max-width: 700px;
        grid-auto-rows: 100px;
        grid-column-gap: 75px;
        grid-row-gap: 50px;
    }

    .between {
        margin-left: 0;
    }

    .footer .social {
        align-items: start;
    }
    
    #controller, #buttons {
        top: 40vw;
    }



}



@media only screen and (max-width: 833px) {


    .container {
        max-width: 600px;
    }

    .logo {
        margin-left: 25%;
    }


    .game-picture img {
        width: 180px !important;
        height: 305px !important;
    }
    
    .console-picture img {
        width: 180px !important; 
        height: 255px !important;
    }
    
    
    .accs-picture img {
        width: 180px !important;
        height: 155px !important;
    }

    .game-picture {
        width: 180px;
        height: 305px;
    }
    
    .console-picture {
        width: 180px;
        height: 255px;
    }
    
    
    .accs-picture {
        width: 180px;
        height: 155px;
    }

    #dual {
        height: 125px !important;
    }

    #xbox {
        height: 180px !important;
    }

    .game-catalog, .game-consoles-catalog, .accsessories-catalog {
        margin-bottom: 100px;
        margin-top: 40px;
        grid-template-columns: repeat(3, 180px);
        grid-auto-rows: 600px;
        grid-column-gap: 30px;
    }

    .menu-catalog {
        flex-direction: column;
    }

    .menu-catalog button {
        margin-left: 0;
        margin-top: 6px;
    }




    .content {
        display: grid;
        grid-template-columns: repeat(3, 150px);
        max-width: 550px;
        grid-auto-rows: 100px;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }

    



}


@media only screen and (max-width: 650px) {

    .header {
        height: 60px;
    }

    .nav-arrow {
        display: block;
    }

    .arrow-pic {
        filter:invert(100%) sepia(23%) saturate(0%) hue-rotate(142deg) brightness(102%) contrast(103%);
        width: 20px;
        height: 20px;
    }

    .sticky-nav {
        height: 40px;
    }

    .sticky_menu {
        display: none;
    }

    .menu {
        align-items: center;
    }


    .container {
        max-width: 330px;
    }

    .logo {
        margin-left: auto;
    }

    #user1, #user3 {
        display: none;
    }

    #user2 {
        margin: 0;
    }

    .nav-user {
        margin-left: 0;
    }
    
    .nav-icons {
        width: 30px;
        height: 30px;
    }

    .adapt-menu {
        display: block;
        height: 30px;
    }

    .list-menu {
        display: none;
    }

    .game-picture img {
        width: 300px !important;
        height: 400px !important;
    }
    
    .console-picture img {
        width: 300px !important; 
        height: 400px !important;
    }
    
    
    .accs-picture img {
        width: 300px !important;
        height: 280px !important;
    }

    .game-picture {
        width: 300px;
        height: 400px;
    }
    
    .console-picture {
        width: 300px;
        height: 400px;
    }
    
    
    .accs-picture {
        width: 300px;
        height: 280px;
    }

    #dual {
        height: 200px !important;
    }

    #xbox {
        height: 300px !important;
    }

    .game-catalog, .game-consoles-catalog, .accsessories-catalog {
        margin-bottom: 100px;
        margin-top: 40px;
        grid-template-columns: repeat(1, 300px);
        grid-auto-rows: 600px;
        grid-row-gap: 50px;
    }

    .menu-catalog {
        flex-direction: column;
    }

    .menu-catalog button {
        margin-left: 0;
        margin-top: 6px;
    }

    .footer .col h1 {
        font-size: 18px;
    }

    .footer li {
        font-size: 14px;
    }

    .start {
        margin-right: 10px;
    }

    .twitter {
        margin-right: 10px;
        margin-left: 10px;
    }

    .end {
        margin-left: 10px;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(2, 130px);
        max-width: 330px;
        grid-auto-rows: 100px;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }

    .between {
        margin-left: 0;
    }

    .footer .social {
        align-items: start;
    }
    
    #controller, #buttons {
        display: none;
    }

    .picture-container h1 {
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;

    }

    .picture-container {
        margin-bottom: 60px;
    }

}
